.moviedetails-container {
    padding: 20px 8px;
}

.moviedetails-container h1 {
    font-size: 24px;
}

.review-form {
  margin: 20px 0;
  padding: 20px 10px;
  text-align: center;
}

.review-form h6 {
  font-size: 16px;
}

.review-form button {
  margin-top: 20px;
}

.review-card {
  margin-top: 30px;
}

/* SM */
@media (min-width: 576px) {
  .review-form {
    height: 180px;
    margin-top: 25px;
  }

  .review-form button {
    width: 360px;
  }
}

 /* MD */
 @media (min-width: 768px) {
  .moviedetails-container {
      padding: 30px 40px;
    }

    .moviedetails-container h1 {
        font-size: 32px;
    }
  }

  /* LG */
  @media (min-width: 992px) {
    .moviedetails-container {
      padding: 40px 60px;
    }

    .moviedetails-container h1 {
        font-size: 34px;
    }
  }

  /* XL */
@media (min-width: 1200px) {
    .moviedetails-container h1 {
        font-size: 48px;
    }
}