.login-card {
    height: 464px;
    margin: 15px 10px;
    padding: 10px;
    text-align: center;
}

.login-card h1 {
   padding: 60px;
   font-weight: normal;
   font-size: 36px;
}

.form-container input {
    margin-bottom: 20px;
}

.form-container button {
    margin-top: 20px;
}

/* S */
@media (min-width: 576px) {
    .login-card {
        height: 570px;
        width: 480px;
        margin: 40px 50px 0 50px;
        padding: 30px;
    }
  }


